.wrapper {
  width: calc(100% / 2);
  // min-height: 5em;
  display: flex;
  flex-direction: column;
  margin: 0 5em 3em 5em;
}

.question-container {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  background-color: rgb(31, 31, 143);
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.6em;
}

.answer {
  width: 50%;
  background: #22074d;
  padding: 1em;
  border-radius: 4px;
  text-align: start;
}

.answer:hover {
  background: rgb(41, 41, 194);
}

// .answer:nth-child(even) {
//   margin-left: 2em;
// }

.active {
  background-color: #aebec5;
  animation: active 3s 1.5s forwards;
}

@keyframes active {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}
